.album-list{
  
}
.album-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-bottom: 10px;
}
.album-list-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.04em;
    text-transform: none;
    
}
.album-list-button{
    font-size: 20px;
    margin: 10px;
}
.album-list-wrapper{
    width: 100%;
    display: flex;

    // justify-items: center;
    // align-items: center;
    // justify-content: center;
    // background-color: aqua;

}
// .test{
//     display: flex !important;
//     flex-direction: row;
//     background-color: aqua;
//     flex-wrap: wrap;
// }