.btn {

    // TEXT 
    text-align: center;
    letter-spacing: 0.176rem;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;

    // COLOR
    color: var(--white-color);
    background-color: transparent;


    // DISPLAY & BOX MODEL
    display: inline-block;
    padding: 8px 34px;
    border: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 500px;

    // OTHERS
    cursor: pointer;

    &--bg {
        background-color: #fff;
        color: var(--black-color);

    }

    &:hover {
        transform: scale(1.07);
    }



}