.navlink-sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    height: var(--navlink-height);

    background-color: transparent;
    color: var(--text-color);

    &:hover {
        color: var(--white-color); 

    }

    &--active {
        background-color:hsla(0,0%,100%,.3);
        color: var(--white-color); 
    }

    &__text {
        display: inline-block;

        margin-left: 16px;

    }
}