:root {
    --color-1: #1db954;

    --white-color: #fff;
    --text-color: #b3b3b3;

    --black-1: #000000;
    --black-2: #121212;
    --black-3: #181818;
    --black-4: #282828;
    --black-5: #333;

    --grey-1: #32353a;
    --grey-2: #454f59;
    --grey-3: #2a2b2f;

    --footer-height: 90px;
    --sidebar-width: 234px;
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--black-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
