.sidebar {
    width: var(--navbar-width);

    &__logo {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        padding: 0 24px;


    }

    &__logo img {
        width: 18.5rem;

    }

    &__link {
        padding: 0 8px;
    }

}