.btn-play {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;

    outline: none;
    border: none;


    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &__icon {
        color: var(--white-color);
    }

    &:hover {
        transform: scale(1.06)

    }
}