.album {
    position: relative;
    width: 190px;
    padding: 16px;


    background-color: #161515;
    color: #fff;

    
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: #242424;
        transition: all 1s;

    }
    .play {
        display: none;
    }

    &:hover .play {
        display: flex;
       
    }

    &__img {
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        // background-image: url(../images/1.jpg);
        position: relative;
        margin-bottom: 16px;
        border-radius: 12px;
        overflow: hidden;


        
    }

    &__title {

        font-size: 1.6rem;
        font-weight: 700;
        line-height: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;

        overflow: hidden;
        letter-spacing: normal;
        text-transform: none;
    }

    &__desc {
        color: var(--text-color);
        margin-top: 4px;
        overflow: hidden;


        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.3;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: normal;
        text-transform: none;
    }

}

