
.wrapper-main {
    display: flex;
    height: calc(100vh - var(--footer-height));
    max-height: calc(100vh - var(--footer-height));
    
}

.wrapper-sidebar {
    padding-top: 24px;
    flex-grow: 0;
}

.wrapper-content {
    flex-grow: 1;
    height: 1;
    overflow-y: scroll;
    height: 100%;
}